* {
    font-family: 'Press Start 2P';
    color: rgb(0, 230, 0);
    background-color: rgb(30, 30, 30);
}
body {
    text-align: center;
    font-family: 'Press Start 2P';
}

h1 {
    font-size: 60px;
}
input {
    border: 1.5px solid rgb(0, 180, 0);
    width: 50px;
}

#minefield {
    display: inline-block;
    margin-top: 10px;
    white-space: nowrap;
    border: 3px solid rgb(0, 180, 0);
    background-color: rgb(255, 255, 255);
}

.col{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(220, 220, 220);
    margin: 1px;
    font-size: 10px;
    vertical-align: bottom;
}

.col:hover {
    cursor: pointer;
}

.bomb {
    background-color: red;
    box-shadow: none;
    border: none;
    padding: 0px;
}

.flagged {
    padding: 0px;
}
img {
    height: 15px;
    width: 15px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.empty {
    background-color: rgb(180, 180, 180);
    box-shadow: none;
    border: none;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.win {
    background-color: rgb(0, 230, 0);
}

#result {
    font-size: 36px;
    margin: 20px;
}

.winner {
    color: rgb(0, 255, 0);
}

.loser {
    color: red;
}

#bonusbutton {
    display: block;
    margin: 0 auto;
    margin-top: 30px;

}