body {
    text-align: center;
}

#minefield {
    display: inline-block;
    margin-top: 10px;
}

.row {
    height: 37px;
}




.col{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #6699ff;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 1px;
    vertical-align: bottom;
}

.col:hover {
    cursor: pointer;
}

.col:onclick {
    background-color: black;
}


.bomb {
    background-color: red;
}

img {
    height: 25px;
    width: 25px;
}

.empty {
    background-color: aliceblue;
}